@font-face {
    font-family: "SensationsandQualities";
    src: url(/canchas/SensationsandQualities.ttf);
}
h1{
  font-family: SensationsandQualities;
}
#futbol{
  display: none;
}
.canchas{
  margin-left: 150px;
}
.canchaFutbol {
     width: 800px;
     height: 450px;
     border: 2px solid #FFFFFF;
     background: #088A08;
}
.circuloCentro {
     width: 100px;
     height: 100px;
     border: 2px solid #FFFFFF;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     position:absolute; top: 380px;
     position:absolute; left:500px;
     border-radius: 50%;
}
.semiCirculo1 {
    width: 100px;
    height: 100px;
    border: 2px solid #FFFFFF ;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    position:absolute; top:380px;
    position:absolute; left:249.7px;
}
.semiCirculo2 {
  width: 100px;
  height: 100px;
  border: 2px solid #FFFFFF ;
  -moz-border-radius: 100px 0 0 100px;
  -webkit-border-radius: 100px 0 0 100px;
  border-radius: 100px 0 0 100px;
  position:absolute; top:380px;
  position:absolute; left:752px;
}
.porteria {
     width: 100px;
     height: 200px;
     position:absolute; top:335px;
     position:absolute; left:151px;
     border: 2px solid #FFFFFF;
}
.porteria:last-of-type {
     width: 100px;
     height: 200px;
     position:absolute; top:335px;
     position:absolute; left:850px;
     border: 2px solid #FFFFFF;
}
#basquetball{
  display: none;
}
.canchaBasquet {
     width: 800px;
     height: 450px;
     border: 2px solid #FFFFFF;
     background: #886A08;
}
.circulo {
     width: 100px;
     height: 100px;
     border: 2px solid #FFFFFF;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     position:absolute; top:370px;
     position:absolute; left:500px;
     border-radius: 50%;
}
.circulo1 {
     width: 350px;
     height: 350px;
     border: 2px solid #FFFFFF;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     position:absolute; top:250px;
     position:absolute; left:40px;
     border-radius: 50%;
}
.circulo2 {
   width: 350px;
   height: 350px;
   border: 2px solid #FFFFFF;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   position:absolute; top:250px;
   position:absolute; left:700px;
   border-radius: 50%;
}
.trapecio2{
  width: 178px;
  height: 0px;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-top: 130px solid #9F7D0C;
  position:absolute; top:357px;
  position:absolute; left:794.7px;
  -webkit-transform: rotate(90deg) skew(0deg);
}
.trapecio1{
  width: 178px;
  height: 0px;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-top: 130px solid #9F7D0C;
  position:absolute; top:357px;
  position:absolute; left:129px;
  -webkit-transform: rotate(270deg) skew(0deg);
}
.zonaAnotacion{
  width: 100px;
  height: 100px;
  border: 2px solid #FFFFFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position:absolute; top:370px;
  position:absolute; left:235px;
  border-radius: 50%;
}
.zonaAnotacion:nth-of-type(8){
  width: 100px;
  height: 100px;
  border: 2px solid #FFFFFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position:absolute; top:370px;
  position:absolute; left:764px;
  border-radius: 50%;
}
#tennis{

}
.canchaTennis {
   width: 800px;
   height: 450px;
   border: 2px solid #FFFFFF;
   background: #088A08;
 }
.rectLaterales {
  width: 800px;
  height: 115px;
  border: 2px solid #FFFFFF;
  position:absolute; top:177px;
  position:absolute; left:150px;
  }
  .rectLaterales:nth-of-type(3) {
     width: 800px;
     height: 115px;
     border: 2px solid #FFFFFF;
     position:absolute; top:512px;
     position:absolute; left:150px;
   }
