.cancha {
     width: 800px;
     height: 450px;
     border: 2px solid #FFFFFF;
     background: #886A08;
}
.mediaCancha {
     width: 400px;
     height: 450px;
     border: 2px solid #FFFFFF;
}
.circulo {
     width: 100px;
     height: 100px;
     border: 2px solid #FFFFFF;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     position:absolute; top:270px;
     position:absolute; left:33%;
     border-radius: 50%;
}
.semiCirculo1 {
     width: 350px;
     height: 350px;
     border: 2px solid #FFFFFF;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     position:absolute; top:150px;
     position:absolute; left:-10%;
     border-radius: 50%;
}
.semiCirculo2 {
     width: 350px;
     height: 350px;
     border: 2px solid #FFFFFF;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     position:absolute; top:150px;
     position:absolute; left:55%;
     border-radius: 50%;
}
.trapecio2{
  width: 80px;
     height: 0px;
     border-right: 40px solid transparent;
     border-left: 40px solid transparent;
     border-top: 130px solid #B18904;
     position:absolute; top:260px;
     position:absolute; left:61.75%;
     -webkit-transform: rotate(90deg) skew(0deg);
  }
